/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
#green{
  background-color: #fff9db;
  margin-bottom: 10px;
}
.bl{
  background-color: blue;
}
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #cfe2ab;
}

.navbar{
  background-color: transparent;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#logo-container{
  font-family: 'Alice', serif;
  letter-spacing:5px;
  font-size:18px;
  display: none;
  color: #a68a62;
}
#nav-mobile{
  font-family: 'Alice', serif;
}
#nbar{
  font-family: 'Alice', serif;
}
#Gina{
  font-family: 'Satisfy', cursive;
}
#hair{
  font-family: 'Amatic SC', cursive;
  color: #2a4048;
}
#home{

  margin-bottom: 10px;
  background-color: blue
  ;
}
#middle{
  margin-bottom: 10px;
}
#mid{
  margin: 0px;
  padding: 0px;
}
#tag{
  font-family: 'Alice', serif;
  color: white;
}
#frizz{
  opacity: .5;
}

.normal{
  padding-top: 13%;
  padding-bottom: 13%;
  margin-bottom: 20px;
}

.head1{
  font-family: 'Alice', serif;
}
#about{
  color:#a68a62;

}
#girl{
  margin-bottom: 10px;
}
#services{
  color: #a2bf6c;
  background-color: #fffcef;
   margin-bottom: 10px;
}
#serv{
  text-align: center;
  font-family: 'Alice', serif;
  color:#a68a62;
}
.spec{
  text-align: center;
  font-family: 'Alice', serif;
  color:#a68a62;
  opacity: .8;
  font-size: 15px;
}
#stair{
  margin-bottom: 10px;
}
#last{
  background-color: #fffdf6;
}
#con{
  color:#a68a62;
}

#foot{
  background-color: #fff9db;
}
#all{
  color:#a68a62;
  font-size: 10px;
}
